<div style="margin:0!important;padding:0!important">

    
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr>
            <td bgcolor="#E9EEF2" align="center" style="padding:0" class="m_8789683956555499119section-padding">
                
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px" class="m_8789683956555499119responsive-table">
                    <tbody><tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <td>
                                        
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td align="center" style="padding:24px">
                                                    <a href="http://littlethingsme.com/?tracking=5da4040be11c7" target="_blank"><img src="https://littlethingsme.com/image/catalog/tlt-logo.png" width="200" height="48" border="0" alt="TLT" style="display:block;padding:0;color:#666666;text-decoration:none;font-family:AppleSystemUIFont,Helvetica,arial,sans-serif;font-size:16px" data-image-whitelisted="" class="CToWUd"></a>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background:#ffffff">
                                <tbody><tr>
                                    <td>
                                        
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td align="left" style="padding:24px">

                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody><tr>
                                                            <td align="center" style="font-size:24px;font-weight:700;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:22px;line-height:33px">
                                                                Will you sleep well knowing that something has been left behind?
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px">
                                                              Dear {{ customer }},
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="justify" style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#333333">
                                                                Almost there, Just one last step! We noticed you were on <a href="http://littlethingsme.com/?tracking=5da4040be11c7" target="_blank">The Little Things UAE</a> and for some reason did not complete your order. 
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#333333">
                                                                In case you were interrupted, we saved your cart for your convenience.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#333333">
                                                                Complete your transaction.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#3c3c3c">
                                                                This is what you left in your cart:
                                                            </td>
                                                        </tr>
                                                                                                                <tr>
                                                            <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#333333">
                                                                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="Margin:0;width:100%;font-family:arial;font-size:12px">
                                                                    <tbody><tr>
                                                                        <td align="right" width="75%">
                                                                            <table cellspacing="0" cellpadding="0" border="0" align="left" style="Margin:auto" width="100% font-family:arial; font-size:12px;">
                                                                                <tbody><tr>
                                                                                    <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#3c3c3c;width:100%">
                                                                                        {{ orders }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:20px;line-height:19px;color:#333333">
                                                                                        
                                                                                        <table cellspacing="0" cellpadding="0" border="0" align="left" style="Margin:auto">
                                                                                            <tbody><tr>
                                                                                                <td style="background:#ff6600;text-align:center;color:#ffffff!important">
                                                                                                    <a href="http://littlethingsme.com/?tracking=5da4040be11c7" style="background:#ff6600;border:10px solid #ff6600;border-left-width:36px;border-right-width:36px;padding:0 10px;color:#ffffff!important;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;font-size:12px;text-align:center;text-decoration:none!important;text-decoration:none;text-transform:uppercase;display:block;font-weight:bold" target="_blank">
                                                                                                        <font color="#FFFFFF">
                                                                                                            
                                                                                                            Complete now
                                                                                                            
                                                                                                        </font>
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody></table>
                                                                                        
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                        <td align="left" width="5%" style="font-family:arial;font-size:12px;color:#ffffff;border-collapse:collapse;text-align:left;text-align:left!important">
                                                                            
                                                                        </td>
                                                                        <td valign="top" align="left" width="20%" style="font-family:arial;font-size:12px;color:#333333;border-collapse:collapse;text-align:left;text-align:left!important">
                                                                                                                                                    </td>
                                                                    </tr>
                                                                </tbody></table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:14px;font-weight:700;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding:18px 0 15px;line-height:19px;border-top:1px solid #c7c7c7">
                                                                Support information
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:12px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:11px;line-height:17px">
                                                                Need technical support? For product purchase/request and other technical support issues, please visit our <a href="http://littlethingsme.com/?tracking=5da4040be11c7">Help Center</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:12px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#1c1c1c;padding-bottom:11px;line-height:17px">
                                                  				Need order support? Use <a href="http://littlethingsme.com/?tracking=5da4040be11c7" target="_blank">myAccount</a> to easily manage your order, invoice and  payment details.
                                                			</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:12px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#9b9b9b;padding-bottom:20px;line-height:17px">
                                                                Powered by: <a href="http://littlethingsme.com/?tracking=5da4040be11c7" target="_blank"><img src="https://littlethingsme.com/image/catalog/tlt-logo.png" width="100" height="28" border="0" alt="TLT" style="vertical-align:middle;padding:0;color:#666666;text-decoration:none;font-family:AppleSystemUIFont,Helvetica,arial,sans-serif;font-size:16px" data-image-whitelisted="" class="CToWUd"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>

                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <td>
                                        
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="font-size:16px;font-weight:400;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#6e6e6e;padding:24px 24px 0;line-height:18px;border-top:1px solid #ccccd1">
                                                    Follow us on:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="font-size:16px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#6e6e6e;padding:16px 24px 14px;line-height:18px">

                                                    <table align="center" width="200" border="0" cellspacing="0" cellpadding="0" style="max-width:200px">
                                                        <tbody><tr>
                                                            <td align="left" style="padding-right:32px">
                                                                <a href="https://www.facebook.com/littlethingsuae" target="_blank" ><img src="https://littlethingsme.com/image/facebook.png" width="45" height="45" border="0" alt="Facebook" style="display:block;padding:0;color:#666666;text-decoration:none;font-family:AppleSystemUIFont,Helvetica,arial,sans-serif;font-size:16px" data-image-whitelisted="" class="CToWUd"></a>
                                                            </td>
                                                            <td align="center">
                                                                
                                                            </td>
                                                            <td align="right" style="padding-left:32px">
                                                                <a href="https://www.instagram.com/TheLittleThingsUae" target="_blank"><img src="https://littlethingsme.com/image/instagram.png" width="45" height="45" border="0" alt="Instagram" style="display:block;padding:0;color:#666666;text-decoration:none;font-family:AppleSystemUIFont,Helvetica,arial,sans-serif;font-size:16px" data-image-whitelisted="" class="CToWUd"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>

                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
        <tr>
            <td bgcolor="#E9EEF2" align="center" style="padding:0 24px 30px">
                
                
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:600px" class="m_8789683956555499119responsive-table">
                    <tbody><tr>
                        <td align="center" style="font-size:12px;line-height:15px;font-family:AppleSystemUIFont,Helvetica,Arial,sans-serif;color:#6e6e6e">
                            <p>© 2019 All rights reserved by<br><a href="http://littlethingsme.com/?tracking=5da4040be11c7" target="_blank">The Little Things UAE</a>.</p>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody></table>

</div>